<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<resultMap id="MemberDetailMap" type="MemberDetail">
	    <result property="memberNo" column="MEMBERS_NO"/>
	    <result property="userId" column="ID"/>
	    <result property="userPwd" column="PWD"/>
	    <result property="name" column="NAME"/>
	    <result property="nickName" column="NICK_NAME"/>
	</resultMap>
	<resultMap id="MemberJoinMap" type="MemberJoin">
	    <result property="memberNo" column="MEMBERS_NO"/>
	    <result property="userId" column="ID"/>
	    <result property="userPwd" column="PWD"/>
	    <result property="name" column="NAME"/>
	    <result property="nickName" column="NICK_NAME"/>
	</resultMap>
	
	<select id="selectMemberById" parameterType="MemberLogin" resultMap="MemberDetailMap" >
		select MEMBER_NO, ID, PWD, NAME, NICK_NAME
		from MEMBER
		where ID = #{userId}
	</select>
	
	<select id="selectCheckId" parameterType="string" resultType="_int" >
		select count(*)
		from MEMBER
		where ID = #{userId}
	</select>
	
	<select id="selectCheckNickname" parameterType="string" resultType="_int" >
		select count(*)
		from MEMBER
		where NICKNAME = #{nickname}
	</select>
	
	<insert id="insertJoin" parameterMap="MemberJoinMap" >
		<selectKey keyProperty="memberNo" resultType="_int" order="BEFORE">
			SELECT SEQ_MEMBERS.nextval FROM DUAL
		</selectKey>
		insert into MEMBER (
			MEMBER_NO
			,ID
			,PWD
			,NAME
			,NICK_NAME
			)
		values(
			#{memberNo}
			,#{userId}
			,#{userPwd}
			,#{name}
			,#{nickName}
		)
	</insert>
	

</mapper>
