<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap id="CryptedNumberMap" type="CryptedNumberVO">
			<result property="number" column="MEMBER_NO"/>
	</resultMap>
	<resultMap id="MemberDetailMap" type="MemberDetail" extends="CryptedNumberMap">
	    <result property="userId" column="ID"/>
	    <result property="userPwd" column="PWD"/>
	    <result property="name" column="NAME"/>
	    <result property="nickname" column="NICKNAME"/>
	</resultMap>
	<resultMap id="MemberJoinMap" type="MemberJoin">
	    <result property="memberNo" column="MEMBER_NO"/>
	    <result property="userId" column="ID"/>
	    <result property="userPwd" column="PWD"/>
	    <result property="name" column="NAME"/>
	    <result property="nickname" column="NICKNAME"/>
	</resultMap>
	
	<select id="selectMemberById" parameterType="MemberLogin" resultMap="MemberDetailMap" >
		select MEMBER_NO, ID, PWD, NAME, NICKNAME
		from MEMBER
		where ID = #{userId}
	</select>
	
	<select id="selectCheckId" parameterType="string" resultType="_int" >
		select count(*)
		from MEMBER
		where ID = #{userId}
	</select>
	
	<select id="selectCheckNickname" parameterType="string" resultType="_int" >
		select count(*)
		from MEMBER
		where NICKNAME = #{nickname}
	</select>
	
	<insert id="insertJoin" parameterType="MemberJoin" >
		<selectKey keyProperty="memberNo" resultType="_int" order="BEFORE">
			SELECT SEQ_MEMBER.nextval FROM DUAL
		</selectKey>
		insert into MEMBER (
			MEMBER_NO
			,ID
			,PWD
			,NAME
			,NICKNAME
			)
		values(
			#{memberNo}
			,#{userId}
			,#{userPwd}
			,#{name}
			,#{nickname}
		)
	</insert>
	

</mapper>
