<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="website.treelink.global.security.RoleMapper">

	<select id="selectUrlIsAllowed" parameterType="RoleUrlAccessCheck" >
		select IS_ALLOWED
		from MEMBERS M
		left join MEMBERS_ROLES MR on M.MEMBERS_NO = MR.MEMBERS_NO
		left join ROLES R on MR.ROLES_ID = R.ROLES_ID
		left join ROLE_RESOURCES RR on R.ROLES_ID = RR.ROLES_ID
		left join URL_RESOURCES UR on RR.URL_RESOURCES_ID = UR.URL_RESOURCES_ID
		where M.MEMBERS_NO = #{userNO}
		and #{url} LIKE UR.URL_PATTERN || '%'
	</select>
	
</mapper>
